<html>
  <head>
    {% if gtm %}
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "{{gtm}}");
    </script>
    <!-- End Google Tag Manager -->
    {% endif %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K7ZMZBV"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="app"></div>
    {% if debug %}
    <script src="http://localhost:8080/bundle.js"></script>
    {% else %}
    <script src="/static/bundle.js"></script>
    {% endif %}

    <script>
      window.user_info = {
        email: "{{user.email}}",
        name: "{{user.name}}",
        sub: "{{user.sub}}",
        session: "{{session}}"
      };
    </script>
  </body>
</html>
